__pycache__

web/po/mo
web/po/osmose-frontend.pot.tmp
web/po/tmp.tpl

web_api/session/

web/static/.webassets-cache/
web/static/gen/
web/static/osmose-coverage.json*
web/static/osmose-coverage.topojson.pbf*

web/node_modules
osmose-frontend-venv

web/**/webpack.bundle-*.js*
web/webpack.stats.json
