*.pyc

po/mo
po/osmose-frontend.pot.tmp
po/tmp.tpl

session/

static/.webassets-cache/
static/gen/
static/osmose-coverage.json*
static/osmose-coverage.topojson.pbf*

node_modules
osmose-frontend-venv

webpack.bundle-*.js
webpack.bundle-*.js.map