*.pyc

web/po/mo
web/po/osmose-frontend.pot.tmp
web/po/tmp.tpl

web/session/

web/static/.webassets-cache/
web/static/gen/
web/static/osmose-coverage.json*
web/static/osmose-coverage.topojson.pbf*

web/node_modules
osmose-frontend-venv

web/webpack.bundle-*.js
web/webpack.bundle-*.js.map
