[submodule "externals/mustache.js"]
	path = externals/mustache.js
	url = https://github.com/janl/mustache.js
[submodule "externals/webassets"]
	path = externals/webassets
	url = https://github.com/miracle2k/webassets.git
[submodule "externals/rauth"]
	path = externals/rauth
	url = https://github.com/litl/rauth.git
[submodule "externals/cssmin"]
	path = externals/cssmin
	url = https://github.com/zacharyvoase/cssmin.git
[submodule "externals/Leaflet.ActiveLayers"]
	path = externals/Leaflet.ActiveLayers
	url = https://github.com/vogdb/Leaflet.ActiveLayers.git
[submodule "externals/leaflet-control-geocoder"]
	path = externals/leaflet-control-geocoder
	url = https://github.com/perliedman/leaflet-control-geocoder.git
[submodule "Leaflet-active-area"]
	path = Leaflet-active-area
	url = https://github.com/Mappy/Leaflet-active-area.git
[submodule "externals/Leaflet-active-area"]
	path = externals/Leaflet-active-area
	url = https://github.com/Mappy/Leaflet-active-area.git
[submodule "externals/topojson"]
	path = externals/topojson
	url = https://github.com/mbostock/topojson.git
[submodule "externals/leaflet-plugins"]
	path = externals/leaflet-plugins
	url = https://github.com/shramov/leaflet-plugins.git
