.leaflet-sidebar > #editor {
  padding: 5px;
}

#editor h1 {
  margin: 0;
}

#editor a {
  display: block;
  text-align: right;
  font-size: 80%;
}

#editor .same span {
  color: white;
}
#editor .add, #editor .add input[type="text"] {
  color: green;
}
#editor .mod, #editor .mod input[type="text"] {
  color: darkorange;
}
#editor .del, #editor .del input[type="text"] {
  text-decoration: line-through;
  color: red;
}

#editor .tags {
  border: solid 1px gray;
  background: #E7E7E7;
}

#editor .line span:first-child {
  display: inline-block;
  background: black;
  font-weight: bold;
  width: 5%;
  text-align: center;
}

#editor input[type="text"] {
  font-family: monospace;
  background: #E7E7E7;
  border: none;
  width: 90%;
  padding-left: 5px;
  margin: 0px
}

#editor input[type="text"]:focus {
  background: #F7F7F7;
}

#editor .line a {
  display: inline-block;
  width: 5%;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background: #fbb;
}

#editor #buttons {
  float: right;
}

#menu-editor-save {
  background: green;
}
