body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
} 

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
}

/* Menu */
div#menu {
  border-radius: 10px;
  border: solid 1px black;
  background: white;
  position: absolute;
  width: 270px;
  left: 50px;
  top: 30px;
  z-index: 1000;
  padding: 5px;
  padding-top: 8px;
  padding-right: 0px;
  opacity: 0.9;
}
a#togglemenu {
  position: absolute;
  top: 5px;
  left: 3px;
  background: darkBlue;
  color: white;
  width: 20px;
  display: block;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
}
div#tests {
  overflow-y: auto;
  height: 93%;
}
div#menu div#need_zoom {
  display: none;
  font-size: 14px;
  font-weight:bold;
  color: #FF0000;
  text-align: center;
}
div#menu form {
  font-size: 10px;
  margin:0px;
  height: 100%;
}
div#menu div#action_links {
  font-size: 10px;
  text-align: center;
  padding-left: 20px;
}
div#menu div.test_group img {
  margin-left: 20px;
}
div#menu div.test_group h1 {
  height: 20px;
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
div#menu div.test_group h1 a:first-child {
  display: inline-block;
  background: url('../images/folder_open.png') no-repeat left 3px; 
  padding-left: 20px;
  line-height: 20px;
}
div#menu div.test_group h1.folded a:first-child {
  background: url('../images/folder.png') no-repeat left 3px; 
}
div#menu div.test_group ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  /* padding: 10px 0px 0px 5px;
  margin: 0px 0px 0px 10px;
  border-left: solid 1px #AAAAAA; */
}
div#menu div.test_group li {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 16px; 
  font-size: 11px;
}
div#menu div.test_group li:hover {
  background-color: #ffc;
}
span#level-span {
  white-space: nowrap;
}
select#level {
  font-size: 10px;
  height: 20px;
}
/* div#menu div.test_group li div {
  float: right;
  width: 3ex;
  font-family: monospace;
  padding-right: 2ex;
} */

/* Map */
div#map {
  position: absolute;
  top: 23px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* Bottom links */
div#bottom_links {
  background-color: #DDDDDD;
  position: absolute;
  height: 23px;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.8;
  font-size: 13px;

  vertical-align: middle;
  text-align: center;
  z-index: 1000;
}

/* popups */
.bulle_msg {
  min-width: 200px;
  max-height: 200px;
  overflow: auto;
  word-wrap: break-word;
  font-size: 80%;
}
.bulle_msg div.closebubble {
  float: right;
  color:#EEEEEE;
  font-weight: bold;
  background-color: #AAAAAA;
  margin-right: 2px;
  text-decoration:none;
}
.bulle_msg div.closebubble a {
  text-decoration:none;
}
.bulle_msg div.closebubble a:link {
  color: #EEEEEE;
}
.bulle_msg div.closebubble a:visited {
  color: #EEEEEE;
}
.bulle_msg div.closebubble a:hover {
  color: #000000;
}
.bulle_msg div.help {
  background-color: #0083FF;
}
.bulle_msg div.help a:hover {
  color: #D1D1D1;
}

.bulle_err {
  color: #FF5555;
}  
a.bulle_err:link {
  color: #FF5555;
}
a.bulle_err:visited {
  color: #FF5555;
}
a.bulle_err:hover {
  color: #FF5555;
}

.bulle_elem {
  color: #5555FF;
}
.bulle_elem a:link {
  color: #5555FF;
}
.bulle_elem a:visited {
  color: #5555FF;
}
.bulle_elem a:hover {
  color: #5555FF;
}

.bulle_elem .fix {
  border: solid 1px lightgray;
}
.bulle_elem .fix .link {
  float: right;
}
.bulle_elem .fix .add {
  color: green;
}
.bulle_elem .fix .mod {
  color: darkorange;
}
.bulle_elem .fix .del {
  color: red;
}

.bulle_verif {
  font-size: 90%;
}
.bulle_verif a:link {
  color: #55AA55;
}
.bulle_verif a:visited {
  color: #55AA55;
}
.bulle_verif a:hover {
  color: #55AA55;
}

.bulle_maj {
  font-size: 90%;
}

/* iframe for josm and rawedit links */
iframe#hiddenIframe {
  display: none;
  position: absolute;
}

div#incFrameBg {
  display: none;
  position: absolute;
  opacity: 0.75;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 1199;
}

iframe#incFrame {
  display: none;
  position: absolute;
  z-index: 1200;
  top: 10;
  left: 10;
}

img#incFrameBt {
  display: none;
  position: absolute;
  border: 0px;
  z-index: 1201;
  top: 10;
  left: 772;
}

/* error levels */
div.test_group div.level {
  float: right;
  width: 48px;
  height: 16px;
}
div.test_group div.level div {
  width: 16px;
  height: 16px;
  display: inline-block;
  direction: rtl;
}
div.test_group div.level div span {
  display: none;
}
div.test_group div.level div:hover span {
  display: block;
  padding: 5px;
  z-index: 20;
  overflow: visible;
}
div.level-1 {
  background: url('../images/levels.png') no-repeat;
  background-position:0px 0px;
}
div.level-2 {
  background: url('../images/levels.png') no-repeat;
  background-position:-16px 0px;
}
div.level-3 {
  background: url('../images/levels.png') no-repeat;
  background-position:-32px 0px;
}
div.level-1.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:0px -16px;
}
div.level-2.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:-16px -16px;
}
div.level-3.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:-32px -16px;
}

select#level option {
  padding-left: 50px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: top left;
}
option.level-123 {
  background: url('../images/level-123.png');
}
option.level-12_ {
  background: url('../images/level-12_.png');
}
option.level-1_3 {
  background: url('../images/level-1_3.png');
}
option.level-_23 {
  background: url('../images/level-_23.png');
}
option.level-1__ {
  background: url('../images/level-1__.png');
}
option.level-_2_ {
  background: url('../images/level-_2_.png');
}
option.level-__3 {
  background: url('../images/level-__3.png');
}

.olControlMousePosition {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 11px;
}
.olControlPermalink {
  position: absolute;
  right: 10px;
  bottom: 40px;
  font-size: 11px;
}
