body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

/* Menu */
a#togglemenu {
  position: absolute;
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  height: 26px;
  width: 26px;
  top: 5px;
  left: 5px;
}
div#tests {
  overflow-y: auto;
  height: 93%;
}
div#menu div#need_zoom {
  display: none;
  font-size: 14px;
  font-weight:bold;
  color: #FF0000;
  text-align: center;
}
div#menu form {
  font-size: 10px;
  margin:0px;
  height: 100%;
}
div#menu div#action_links {
  font-size: 10px;
  text-align: center;
  padding-left: 20px;
}
div#menu div.test_group img {
  margin-left: 20px;
}
div#menu div.test_group h1 {
  height: 20px;
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
div#menu div.test_group h1 a:first-child {
  display: inline-block;
  background: url('../images/folder_open.png') no-repeat left 3px; 
  padding-left: 20px;
  line-height: 20px;
}
div#menu div.test_group h1.folded a:first-child {
  background: url('../images/folder.png') no-repeat left 3px; 
}
div#menu div.test_group ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  /* padding: 10px 0px 0px 5px;
  margin: 0px 0px 0px 10px;
  border-left: solid 1px #AAAAAA; */
}
div#menu div.test_group li {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 16px; 
  font-size: 11px;
}
div#menu div.test_group li:hover {
  background-color: #ffc;
}
span#level-span {
  white-space: nowrap;
}
select#level {
  font-size: 10px;
  height: 20px;
}
/* div#menu div.test_group li div {
  float: right;
  width: 3ex;
  font-family: monospace;
  padding-right: 2ex;
} */

/* Map */
div#map {
  position: absolute;
  top: 23px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* Top menu */
div#top_links {
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  position: absolute;
  height: 24px;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.9;
  font-size: 13px;

  vertical-align: middle;
  text-align: center;
  z-index: 2000;
}

.leaflet-touch + div#top_links {
    box-shadow: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

#topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#topmenu li {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
}
#topmenu li a:link,
#topmenu li a:visited {
  display: block;
  margin: 0;
  padding: 4px 8px;
  border-right: 1px solid #CCCCCC;
  text-decoration: none;
}
#topmenu li a:hover { background-color: #B0B0B0; }
#topmenu li a:active { background-color: #B0B0B0; }
 
#topmenu .submenu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#topmenu .submenu li {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #003453;
  border-right: 1px solid #003453;
}
#topmenu .submenu li a:link,
#topmenu .submenu li a:visited {
  display: block;
  margin: 0;
  border: 0;
  text-decoration: none;
  background: #DDDDDD;
}
#topmenu .submenu li a:hover {
  background-image: none;
  background-color: #B0B0B0;
}
 
#topmenu li:hover > .submenu { display: block; }

/* popups */
.bulle_msg {
  min-width: 200px;
  max-height: 200px;
  overflow: auto;
  word-wrap: break-word;
  font-size: 80%;
}
.bulle_msg div.closebubble {
  float: right;
  color:#EEEEEE;
  font-weight: bold;
  background-color: #AAAAAA;
  margin-right: 2px;
  text-decoration:none;
}
.bulle_msg div.closebubble a {
  text-decoration:none;
}
.bulle_msg div.closebubble a:link {
  color: #EEEEEE;
}
.bulle_msg div.closebubble a:visited {
  color: #EEEEEE;
}
.bulle_msg div.closebubble a:hover {
  color: #000000;
}
.bulle_msg div.help {
  background-color: #0083FF;
}
.bulle_msg div.help a:hover {
  color: #D1D1D1;
}

.bulle_err {
  color: #FF5555;
}  
a.bulle_err:link {
  color: #FF5555;
}
a.bulle_err:visited {
  color: #FF5555;
}
a.bulle_err:hover {
  color: #FF5555;
}

.bulle_elem {
  color: #5555FF;
}
.bulle_elem a:link {
  color: #5555FF;
}
.bulle_elem a:visited {
  color: #5555FF;
}
.bulle_elem a:hover {
  color: #5555FF;
}

.bulle_elem .fix {
  border: solid 1px lightgray;
}
.bulle_elem .fix .link {
  float: right;
}
.bulle_elem .fix .add {
  color: green;
}
.bulle_elem .fix .mod {
  color: darkorange;
}
.bulle_elem .fix .del {
  color: red;
}

.bulle_verif {
  font-size: 90%;
}
.bulle_verif a:link {
  color: #55AA55;
}
.bulle_verif a:visited {
  color: #55AA55;
}
.bulle_verif a:hover {
  color: #55AA55;
}

.bulle_maj {
  font-size: 90%;
}

div#incFrameBg {
  display: none;
  position: absolute;
  opacity: 0.75;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 2999;
}

iframe#incFrame {
  display: none;
  position: absolute;
  z-index: 3000;
  top: 10px;
  left: 10px;
}

img#incFrameBt {
  display: none;
  position: absolute;
  border: 0px;
  z-index: 3001;
  top: 10px;
  left: 772px;
}

/* error levels */
div.test_group div.level {
  float: right;
  width: 48px;
  height: 16px;
}
div.test_group div.level div {
  width: 16px;
  height: 16px;
  display: inline-block;
  direction: rtl;
}
div.test_group div.level div span {
  display: none;
}
div.test_group div.level div:hover span {
  display: block;
  padding: 5px;
  z-index: 20;
  overflow: visible;
}
div.level-1 {
  background: url('../images/levels.png') no-repeat;
  background-position:0px 0px;
}
div.level-2 {
  background: url('../images/levels.png') no-repeat;
  background-position:-16px 0px;
}
div.level-3 {
  background: url('../images/levels.png') no-repeat;
  background-position:-32px 0px;
}
div.level-1.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:0px -16px;
}
div.level-2.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:-16px -16px;
}
div.level-3.disabled {
  background: url('../images/levels.png') no-repeat;
  background-position:-32px -16px;
}

select#level option {
  padding-left: 50px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: top left;
}
option.level-123 {
  background: url('../images/level-123.png');
}
option.level-12_ {
  background: url('../images/level-12_.png');
}
option.level-1_3 {
  background: url('../images/level-1_3.png');
}
option.level-_23 {
  background: url('../images/level-_23.png');
}
option.level-1__ {
  background: url('../images/level-1__.png');
}
option.level-_2_ {
  background: url('../images/level-_2_.png');
}
option.level-__3 {
  background: url('../images/level-__3.png');
}

.olControlMousePosition {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 11px;
}
.olControlPermalink {
  position: absolute;
  right: 10px;
  bottom: 40px;
  font-size: 11px;
}
.olControlAttribution {
  font-size: smaller;
  left: 3px;
  bottom: 0em;
  position: absolute;
  display: block;
}

.leaflet-popup-content {
  font-size: 13px;
}

ul.leaflet-control-geocoder-alternatives {
  width: 60vw;
}
.leaflet-control-geocoder-alternatives a:hover, .leaflet-control-geocoder-selected {
  background-color: inherit;
}

.leaflet-sidebar > .leaflet-control {
    padding: 8px 0 5px 5px;
}

@media(min-width:768px) and (max-width:991px){
    .leaflet-sidebar {
        width: 270px;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 270px;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 270px;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .leaflet-sidebar {
        width: 285px;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 285px;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 285px;
    }
}

@media(min-width:1200px){
    .leaflet-sidebar {
        width: 300px;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 300px;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 300px;
    }
}
