table.byuser {
  border-width:1px; 
  border-style:solid; 
  border-color:black;
  border-collapse: collapse;
}
table.byuser td {
  border-width:1px;
  border-style:solid; 
  border-color:black;
  padding-left: 5px;
  padding-right: 5px;
}

