table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}
th {
  color: black;
  background-color: #999999;
  font: bold;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
tr {
  color: black;
}
tr:nth-child(even) {
  background-color: #CCCCCC;
}
tr:nth-child(odd) {
  background-color: #EEEEEE;
}
td {
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
table a {
  text-decoration: none;
}

/* iframe for josm and rawedit links */
iframe#hiddenIframe {
  display: none;
  position: absolute;
}

th.country {
  height: 15em;
  vertical-align: bottom;
}
th.country .rotate-90 {
  transform: rotate(-90deg);
  max-width: 1.5em;
}
.delay-normal {
    background: green;
}
.delay-warning {
    background: orange;
}
.delay-error {
    background: red;
}
