table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}
th {
  color: black;
  background-color: #999999;
  font: bold;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
tr {
  color: black;
}
tr:nth-child(even) {
  background-color: #CCCCCC;
}
tr:nth-child(odd) {
  background-color: #EEEEEE;
}
td {
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}

/* iframe for josm and rawedit links */
iframe#hiddenIframe {
  display: none;
  position: absolute;
}
