#map svg.leaflet-tile g image[width="17px"][height="33px"] {
  cursor: pointer;
}

.bulle_elem .add b:before {
  content: " + ";
}
.bulle_elem .del b:before {
  content: " - ";
}
.bulle_elem .mod b:before {
  content: " ~ ";
}
