body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

/* Map */
div#map {
  position: absolute;
  top: 23px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
div#map div#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px;
  z-index: 1025;
}

/* Layers control */
.leaflet-control-layers label {
  margin-bottom: 0px;
}

@media(max-width:640px) {
  .leaflet-touch .josm {
    display: none;
  }
}

ul.leaflet-control-geocoder-alternatives {
  width: 60vw;
}
.leaflet-control-geocoder-alternatives a:hover, .leaflet-control-geocoder-selected {
  background-color: inherit;
}

.leaflet-active-area {
  position: absolute;
  top: 24px;
  left: 300px;
  right: 0px;
  bottom: 0px;
}

.leaflet-sidebar {
  z-index: 1010;
}

@media(min-width:768px) and (max-width:991px) {
  .leaflet-sidebar {
    width: 270px;
  }

  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 270px;
  }

  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 270px;
  }

  .leaflet-active-area {
    left: 270px;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .leaflet-sidebar {
    width: 285px;
  }

  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 285px;
  }

  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 285px;
  }

  .leaflet-active-area {
    left: 285px;
  }
}

@media(min-width:1200px) {
  .leaflet-sidebar {
    width: 300px;
  }

  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 300px;
  }

  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 300px;
  }

  .leaflet-active-area {
    left: 300px;
  }
}
