body {
  text-align: inherit;
}

th {
  text-align: center;
}

a:visited {
  color: #551A8B;
}

.thead-dark a {
  color: lightgray;
}

.thead-dark a:visited {
  color: gray;
}

/* iframe for josm links */
iframe#hiddenIframe {
  display: none;
  position: absolute;
}

th.country {
  height: 15em;
  vertical-align: bottom;
}
th.country .rotate-90 {
  transform: rotate(-90deg);
  -moz-transform:rotate(-90deg); /* Firefox */
  -ms-transform:rotate(-90deg); /* IE 9 */
  -o-transform:rotate(-90deg); /* Opera */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  max-width: 1.5em;
}

#errors-list select {
    width: 100%;
}
