table.byuser {
  border-width:1px; 
  border-style:solid; 
  border-color:black;
  border-collapse: collapse;
}
table.byuser th {
  background-color: #999999;
  font: bold;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}
tr {
  background-color: #EEEEEE;
}
table.byuser td {
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 5px;
}

